.logo {
    height: 75px;
    margin: 16px 0px 16px 16px;
}

.nav-container {
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    width: 100%;
}

.desktop-nav {
    margin-left: auto;
    margin-right: 16px;
    display: none;
    font-family: "Open Sans", sans-serif;
}


.navigation-link{
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    color: black
}

.navigation-icons {
    height: 12px;
    color: black;
}

.is-scrolling {
    background-color: white;
    transition: 0.4s;
    margin: 0;
    padding: 0;
}

.navigation-link:hover{
    text-decoration: underline;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin: 0px 16px 0px auto;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-6px, -7px);
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: white;
    padding-top: 140px;
    transition: 0.4s;
    font-family: "Archivo";
    font-weight: 600;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    border: 0.5px solid #4E4E4E;
    color: white;
    background-color: black;
    text-decoration: none;
    
}

@media (min-width: 768px){
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .desktop-nav {
        display: flex;
        align-items: center;
        margin-right: 32px;
    }

    .desktop-nav a {
        font-size: 12px;
    }

    .hamburger {
        margin-right: 32px;
    }

    .logo {
        margin-left: 32px;
    }
}

@media(min-width: 1000px){
    .logo {
        margin-left: 64px;
    }

    .desktop-nav {
        margin-right: 64px;
    }

    .desktop-nav a {
        font-size: 16px;
    }
}

@media(min-width: 1200px){
    .navigation-link {
        margin: 0px 15px 0px 15px;
    }
}