.inspiration-main{
    width: 100%;
    overflow: hidden;
    
}

.forest{
    font-size: 35px;
    animation-name: forest;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 3;
    position: relative;
    bottom: 0;

}

@keyframes forest {
    
    
}

.Hj {
    font-size: 40px;
    font-weight: bold;
    animation-name: Hj;
    animation-duration: 2s;
    animation-delay: 2s;

}
    .background-first-section {
        width: 100%;
        height: 380px;
        background-size: cover;
        background-position:fixed ;
        background-repeat: no-repeat;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }
    .background-first-section>img{
        position: relative;
        width: 100%;
        height: 100%;
    }

.name-and-collection-box{
    position: absolute;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
padding: 20px;

}
.name-and-collection-box>p{
    font-size: 10px;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
}

#scrollBtn{
    align-self: right;
    width: 250px;
    padding: 10px;
    border:none;
    background-color: #523D3E;
    border:none;
    border-radius: 0%;
    color:white;
font-family: "Open Sans", "sans-serif";
display: none;
}
#scrollBtn:hover{
    background-color: white;
    color:black;
}
.aboutHenrik{
    width: 100%;
   padding-left: 25px;
   padding-right: 25px;
   padding-bottom: 0;
   margin-bottom: 0;
   display: flex;
   flex-direction: column;
   text-align: center;



}
#HenrikChairCard{
    display: flex;
}
#HenrikChairCard{
    width: 250px;
    position: absolute;
    background-color: white;
    border:none;
    z-index: 3;
    align-self: center;
    margin-top: 200px;
    display: none;
    flex-direction: column;
    align-items: center;
   padding: 10px;
   display: none;

}
/*button text*/
.HenrikHjemmesidelink{
    text-decoration: none;
    width: 300px;
    margin-left: 0px;
    background-color: black;
    color:white;
    padding: 5px;   
    text-align: center;
    display: flex;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;


}
.HenrikHjemmesidelink:hover {
    background-color: white;
    color:black;
    border: none;
    
}


.HenrikHjemmesidelink>a{
    text-decoration: none;
    color:white;
    font-size: 12px;
    padding: 5px;
width: 100%;
}
.arrow{
    width: 25px;
    margin-left: 10px;
}
#HenrikChairCard>img:first-child{
    width: 80%;
    padding: 10px;


}
.icons-and-titel-section{
    width: 100%;
   
    height: 0%;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
}
.titel-and-price{
    width: 60%;
    height: 100%;
   
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  

}

.titel-card{
color:#706B5C;
font-size: 12px;
margin-top: 35px;
text-align: left;
}
.pris-card {
color:#706B5C;
font-size: 15px;
margin-top: 0;
font-weight: 500;
font-family: "Archivo Narrow", "sans-serif";
}

.icons-card{
width: 40%;
height: 100%;
display: flex;
align-items: flex-end;
justify-content: flex-end;
}
.greenheart{
    width: 25px;
    margin-top: 40px;
    margin-right: 2px;
    margin-bottom: 5px;
}
.greenbag{
    width: 30px;
    margin-left: 2px;
}
#closeBtnCardFirst{
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: transparent;
    border: none;
    align-self: flex-end;
    justify-self: flex-start;
}

#closeBtnCardImg{
    width: 100%;
    height: 100%;
 background-color: none;    
}

.aboutHenrik>p{
font-size: 12px;
}
.more-about-henrik{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.picture-of-henrik{
    width: 250px;
    margin-top: 10px;
    padding: 0;
    margin: 0;
  

    
}




.picture-of-henrik>img{
    width: 100%;
    margin-bottom: 50px;
}
.forest2{
    color:black;
    width: 100%;
    padding-top: 10px;
}
.Hj2{
    color:black;
    width: 100%;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
#whiteBtnHenrik{
    display: none;
   }
   .blackinformationbox {
    display:none ;

 }



 .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    gap: 1px; /* Just to add some space between the grid items */
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0;
    margin-bottom: 0;
   
}



.grid-item {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1fr; /* Set a fixed height for each grid item */
    display: inline-flex;
    margin-top: 32px;
}
.grid-item>img{
    width: 100%;
    height: 100%;
    position: relative;
    width: 80%;
    animation-name: test;
    animation-duration: 10s;
    animation-delay: 1s; /* Added 's' for seconds */
    animation-iteration-count: infinite;
    animation-direction: normal; /* Standard property */
}
.go-to-our-instagram{
    width: 100px;
    display: flex;
    flex-direction: row;
    background: black;
    border:none;
    justify-content: center;
    align-items: center;
    padding: 22px;
   height: 20px;
   margin-left: 20px;
   margin-bottom: 10px;

}
.go-to-our-instagram:hover{
    opacity: 50%;
}
.go-to-our-instagram>img{
    width: 25px;
    margin: 5px;

}

.go-to-instagram-div{
    width: 80%;
    display: flex;

}

.checkout-btn{
    padding: 10px;
    background-color: black;
    color:WHITE;
    color:white;
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    
  }
  .checkout-btn>a{
    padding: 10px;
    color:white;
    color:WHITE;
    color:white;
  }











/*  */
    @media (min-width: 700px) {
        .background-first-section {
            width: 100%;
            height: 650px;
            justify-content: right;
            text-align: right;
            
        }
        .name-and-collection-box{
            position: absolute;
            
            display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: right;
          text-align: right;
          margin-top: 150px;
          padding-right: 100px;
        
        }
        .forest{
            font-size: 50px;
        }
        .Hj{
            font-size: 60px;
        }
        .more-about-henrik{
            display: flex;
            flex-direction: row;
            padding: 32px;
        }
        .aboutHenrik{
            width: 50%;
            padding: 10px;
            display: flex;
            flex-direction: column;
         
            
        }
        .aboutHenrik>p{
            font-size: 12px;
            padding-left: 50px;
            padding-right: 50px;
            margin-top: 0;
            padding-top: 0;
         
            
        }
        .picture-of-henrik{

            justify-content: center;
            align-items: center;
            background-color: black;
            flex-direction: column;
            display: flex;
            padding: 32px;

        }
        .picture-of-henrik>img{
          
          width: 100%;
          align-self: center;
           

        }
        #scrollBtn{
            display: flex;
            text-align: center;
            justify-content: center;
        }
       #whiteBtnHenrik{
        display: flex;
        width: 50px;
        height: 50px;
        background-color: white;
        color:black;
        position: absolute;
        border:none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 28%;
        margin-left: 50%;

       }
       #whiteBtnHenrik:hover{
        background-color: black;
        color:white;
       }
       .blackinformationbox {
        width: 200px;
        height: 50px;
        background-color: black;
        position: flex;
        right: 0;
        margin-top: 0;
        padding: 10px;
        text-align: left;
        animation: firstfirstanimation 1s linear 2s infinite alternate animation-fill-mode;
    }
    
    .blackinformationbox p {
        color: white;
        font-size: 10px;
        
    }
    .more-about-henrik p{ 
        text-align: left;
    }
    .forest2 {
        font-size: 60px;
        text-align: left;
        padding-left: 50px;
    }
    .Hj2{
        font-size: 60px;
        text-align: left;
        padding-left: 50px;
    }

    #grid-container {
        display: grid;
        grid-template-columns: repeat(4
        , 1fr);
        gap: 5px; /* Just to add some space between the grid items  */
      justify-content: center;
      width: 100%;
      align-items: center;
    }
    
    #grid-item {
       
        height: 250px; /* Set a fixed height for each grid item */
        width: 225px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        justify-self: center;
        align-self: center;
        margin-top: 32px;
        
      
    }
    #go-to-instagram-div{
        background-color: #523D3E;
        width: 80%;
        margin-left: 50px;
    }
    .go-to-our-instagram{
        width: 10px;
        display: flex;
        flex-direction: row;
        background: black;
        border:none;
        justify-content: center;
        align-items: center;
       padding: 0;
       margin: 0;
       margin-top: 0;
    
    }
   
    .HenrikHjemmesidelink{
        text-decoration: none;
        width: 300px;
        margin-left: 50px;
        background-color: black;
        color:white;
        padding: 5px;   
        text-align: center;
        display: flex;
        margin-top: 32px;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;
    
    
    }

    .go-to-our-instagram{
        width: 100px;
        display: flex;
        flex-direction: row;
        background: black;
        border:none;
        justify-content: center;
        align-items: center;
        padding: 22px;
       height: 20px;
       margin-bottom: 10px;
       margin-left: 90px;
       margin-bottom: 10px;
       margin-top: 10px;
     
    
    }
    
}















@keyframes firstfirstanimation {
        0% {opacity: 0;}
        25% {opacity: 0.25;}
        50% {opacity: 0.5;}
        100% {opacity: 1;}
    }
    
    