.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 16px; */
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: beige;
    padding: 25px;
    margin: 16px;
}

.contact-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 16px;
}

.contact-input input, .contact-input textarea {
    border-radius: 0px;
    border: 1px solid black;
}

.contact-info {
    width: 350px;
    margin: 16px;
}

.submit-btn {
    background-color: #523D3E;
    padding: 10px 30px;
    border: none;
    color: #FAFAFA;
    width: 100%;
    margin-top: 16px;
}