.contact {
    margin-top: 140px;
    margin-bottom: 140px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* .contact-info, .contact-form {
    flex: 1;
    margin: 64px;
} */

.contact-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}

.contact-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}

.gMap {
    width: 300px;
    height: 400px;
    margin-top: 40px;
    margin-left: 16px;
    margin-right: 16px;
}

.contact-input label {
    margin-bottom: 5px;
}

.submit-btn {
    background-color: #6B6560;
    padding: 10px;
    border: none;
    color: white;
}

.submit-btn:hover {
    background-color: #000000;
    transition: 1s;
}

@media (min-width: 900px){
    .gMap {
        width: 500px;
        height: 450px;
        margin-top: 0px;
    }
    
    .contact-form {
        width: 500px;
    }
}
