@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Julius+Sans+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import './partials/header.css';
@import './partials/homepage.css';
@import './partials/inspiration.css';
@import './partials/om_oss.css';
@import './partials/leveringsmetoder.css';
@import './partials/kontakt.css';

body {
    background-color: white;
    margin: 0;
}

h1 {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.julius-sans-one {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.archivo {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h2 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      color:#523D3E;
}

p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "width" 100;
}

.titel{
  font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-size: 24px;
  
}
.item{
  width: 200px;
}

/**roshni code productpage**/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.roshni-main-productpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 2px;  
  align-items: center;
  margin-top: 20vh;
}

.filtrer {
  display: flex;
  justify-content: center;
}
/* /fifth element in the background*/
  .roshni-product-bg {
  width: 1430px;
  height: 3005px;
  z-index: -1;
  position: absolute;
}  

.h1-stole {
  color: black;
  margin-top: 5vh;
  margin-bottom: 5vh; 

}
/* name on product */
.titelroshni{
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color:#523D3E;
  color:black;
  
}
.prisroshni{
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color:#706B5C;
  
}
.year{
  font-size: 8px;
  font-family: "Open Sans", "sans-serif";
  color: #523D3E;
  opacity: 60%;
  
  
}
.normal{
  color: #523D3E;

}
.new{
  color:green;
}

/*menubar with categories*/
.navroshni {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
 
 

}

/*an unorded-list of categories inside menubar*/
.navroshni ul {
  list-style-type: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800; 


}
  
.navroshni > ul > li {
  background-color: white;
  width: 174px;  border: #4E4E4E solid 1px;
  justify-content: center;
  display:inline-flex;
  align-items: center;
  margin: 10px;
  position: relative;
  padding: 10px;
  

}

.sub-menu {
  display: none;
  background-color: white;
color: black;
  font-weight: 300;
  border: black solid 1px;
  margin-top: 15px;
  
}

.navroshni ul li:hover .sub-menu {
  display:block;
  position: absolute;

}
.sub-menu ul li{
  width: 174px;
  height: 32px;
  font-weight: 100;
  padding: 10px;
 
}
ul li:hover{
  background-color: #4E4E4E;
  color:white;
}

#items{
  margin-top: 10vh;
  background-color: white;
  display: inline-grid; 
  justify-content: center;
  grid-template-columns: 1fr; 
  grid-template-rows: 300px; 
  column-gap: 32px;
  row-gap: 64px;


}

/* #itemstwo {
  margin-top: 10vh;
  background-color: white;
  display: inline-grid; 
  justify-content: center;
  grid-template-columns: 1fr; 
  grid-template-rows: 300px; 
  column-gap: 32px;
  row-gap: 64px;
  width: 100;
} */

#itemstwo {
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
}

.itemoskar {
    margin: 16px;
}

.itemoskar-img {
    max-height: 250px;
}

.product-info-oskar {
    display: flex;
}

.item{

  background-color: none;
}
.itemroshni >img{
  padding: 0;
}
/*chairpicture*/
.item-img{
  width: 193px;
  height: 257px;
  padding: 10px; 

}
.item-section{
  display: flex;
  justify-content: space-between;
  align-items: bottom;
  width: 100%;
  padding: 0;
  margin: 0;
 

}

/*div with icons*/
.nofillroshni{
  width: 16px;
  height: 16px;
  

}
#bagroshni{
  width: 16px;
  height: 22px;
}

#more-products-btn  {
  background-color: #523D3E;
  color:white;
  
  font-family: "Archivo", sans-serif;
  font-weight: 800; 
  height: 40px;
  font-size: xx-small;
  display: flex;
  text-align: center;
justify-content: center;
align-items: center;
width: 300px;
border:none;
border-radius: 0;
margin-top: 32px;
margin-bottom: 32px;
}

.btn-text{
  font-family: "Archivo", sans-serif;
  font-weight: 800; 
border:none;
  font-size: xx-small;
}



.inspiration-background{
    background-image: url("../images/productimg/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#closeBtn {
    width: 50px;
    position: relative;
    bottom: 375px;
    left: 290px;
    background-color: none;
    border: none;
    background: none;
}

#whiteBox{
    height: 32px;
    width: 33px;
    background-color: #EFEEE3;
    border-radius: 0%;
    border:none;
    opacity: 100%;
}

#whiteBox:hover{
  opacity: 50%;
}

/*go to chair and table-btns*/
.whitebtn{
  width: 230px;
  border: 1px solid white;
  height: 70px;
  font-family: "Archivo", sans-serif;
  font-weight: 800; 
  font-size: small;
  color:white;
  background-color: transparent;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.whitebtn>img{
 margin-left: 10px;
 width: 40px;
}

.whitebtn:hover{
 opacity: 50%;
 }


 #white-chair-card{
  width: 330px;
  height: 407px;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  z-index: 1;
  flex-direction: column;
  padding: 12px;
  margin-top: 10px;
  display: none;
  position: absolute;
 }
 #white-chair-card-is-active{
  
  display: flex;

 }

 #white-chair-card img{
 width: 100%;

 }
 #white-chair-card>section{
  width: 100%;
  display: flex;
  justify-content: space-between;
 margin-bottom: 0;
 padding-bottom: 0;
  padding-top: 10px;
  

 }

/*inspiration-card-icons*/
#white-chair-card > section > div> img{
 width: 20px;
 
  
 }
/*title on insp card*/
.title-insp-card{
  font-family: "Open Sans", sans-serif;
   
    font-weight: light;
    font-size: 15px;


}

/*price on insp card*/
.pris-insp-card{

  font-family: "Open Sans", sans-serif;
   
  font-weight: light;
  font-size: 12px;
  font-weight: 700;

}
 
 footer{
  height: 100px;
  width: 100%;
  background-color: black;
  padding-top: 0;
  display: flex;
  flex-direction: row;
 
 }
 footer  p{
  color:white;
  font-family: "Archivo", sans-serif;
font-size: 8px;
font-weight: 700;
}

 footer>section{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
 }
 footer > section > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
 }

.social-icons-footer{
  width: 25px;
  height: 25px;
  margin: 10px;
}
.flag{
  width: 22px;
  height: 13px;
  margin: 10px;
}
.mobilepay{
width: 23px;
height: 23px;
}

.telefon{
  height: 23px;
  height: 23px;
margin-left: 10px;
margin-right: 5px;

}
.visa{
  width: 25px;
   
}
.flagdiv{
  width: fit-content;
  display: flex;
  justify-content: right;
  padding: 5px;
}

/**STYLES FOR STOLHMTL**/

.roshni-slider-main{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.roshni-slider{
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: center;
  margin-top: 25vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: inset -10px 30px 50px gray;


}
.two-rows{
  display: flex;
justify-content: center;
 flex-direction: row; 
}
.product-information{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 13px;



}
.put-in-basket{
  margin-top: 32px;
  height: 32px;
  width: 100%;
  background-color: #523D3E ;
  border:#523D3E solid 1px;
  border-radius: 0%;
  color:white;
  box-shadow: 0px 0px 15px 0px #B2B1B2;
}

.put-in-basket:hover{
 
  background-color: #251c1c;
color:gray;

}

.add-wish{
  margin-top: 10px;
  height: 32px;
  width: 100%;
  background-color: transparent;
  border:#523D3E solid 1px;
  border-radius: 0%;

}

.add-wish:hover{
  margin-top: 10px;
  height: 32px;
  width: 100%;
  background-color: transparent;
  border:#523D3E solid 1px;
  border-radius: 0%;
  color:gray;

  box-shadow: inset  0px 0px 5px 0px #dbdbdb;


}

.picture-slider{
width: 50%;
  display: inline-flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-left: 10px;
  
 
}


.product-information > p{
  margin-top: 16px;
  font-size: 12px;
  margin-bottom: 32px;
  
}

.product-details{
  width: 100%;
  display: flex;

  justify-content: space-between;


}
.product-btns{

  height: 20%;
  width: 100%;
}




.product-details ul:first-child{
  list-style: none;
  text-align: left;

  font-family: "Archivo", sans-serif;
  font-size: 12px;
  color: #B2B1B2;

}
.product-details ul:last-child{
  list-style: none;
  text-align: right;

  font-family: "Archivo", sans-serif;
  font-size: 12px;
  color: #B2B1B2;

}

.picture-slider img{
  display: none;
}

.picture-slider img:first-child{
  display: block;
  width: 200px;

}


.det-andre-har-kigget-paa{
  display: block;
  flex-direction: column;

text-align: center;
height: 500px;
align-items: center;
}
.det-andre-har-kigget-paa h1{
 margin-top: 32px;
 margin-bottom: 0px;
 padding-bottom: 0;

}
#cards{
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% ;

}

.card{
  width:100px;
  height: 100px;
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 40px;
  margin: 32px;

}

.cardimg{
width: 100%;
}
.cardinfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card>div:first-child{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.produkt-titel-card{
  display: flex;
  flex-direction: column;
  
}
.cardbag{
  width: 22px;
  height: 22px;

}
.nofillcard{
  width: 22px;
  height: 22px;
}

.titelcard{
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color:#523D3E;
  color:black;
}

.priscard{
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color:#706B5C;

}




.bottoonsss{
  margin-top: 20px;

}
.bottonsss>button{
  border-color: ;
}
.bottoonsss> button:last-child{
  width: 32px;
  height: 32px;
  margin: 2px;
  display: inline-flex;
  background-image: url("../images/productimg/minimork.png");
}
.bottoonsss> button:last-child{
  width: 42px;
  height: 42px;
  margin: 2px;
  display: inline-flex;
  background-image: url("../images/productimg/ministol.png");
background-size: cover;
background-position: center;
border-radius: none;
border: 0.5px solid black;
}


.bottoonsss> button:nth-child(2){
  width: 42px;
  height: 42px;
  margin: 2px;
  display: inline-flex;
  background-image: url("../images/productimg/minimork.png");
  background-size: cover;
background-position: center;
border-radius: none;
border: 0.5px solid black;

}
.bottoonsss> button:first-child{
  width: 42px;
  height: 42px;
  margin: 2px;
  display: inline-flex;
  background-image: url("../images/productimg/minigeleander.png");
  background-size: cover;
background-position: center;
border-radius: none;
border: 0.5px solid black;

  
}
.arrowroshni{
  width: 32px;
  margin-left: 8px;
}
.arrow-roshni-p{
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.seemore{
  width: 50%;
  height: 32px;
  margin-top: 0;
  padding-top: 0;
  background-color: #523D3E;
  color:white;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
}



.checkout{
  padding: 15px;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;

}
.checkout h1{
  margin-bottom: 32px;
  margin-top: 32px;
}
.items-in-bag{
  width: 100%;
 
  
  display: flex;

}
.item-in-bag{
width: 150px;
height: 200px;

box-shadow: inset 1px 10px 10px 5px lightgray;
display: inline-flex;
justify-content: center;
align-items: center;
overflow: hidden;
margin-right: 10px;
}
/* the product picture within the div box */
.item-in-bag>img{
  width: 100%;
  margin-top: 50px;
}
/*a box with the name+title+ remove+trashcan picture*/
.item-in-bag-info{
  width: 100px;
  height: 200px;
justify-content: space-between;
  display: inline-flex;

/  overflow: hidden;
  flex-direction: column;
  }
  /*Margin beetween titel and price in */
  .item-in-bag-info p{
 margin-top: 5px;
 margin-bottom: 5px;
    }
  .item-in-bag-info>div{
    width: 100%;
    height: 40%;
  }
  .item-in-bag-info>div:first-child{
    margin-top: 50px;
  }
  .item-in-bag-info>div:last-child{
    width: 100%;

    height: 40%;
    display: flex;
    align-items: bottom;
   
  }
  .item-in-bag-info>div:last-child>img{
    width: 15px;
    height: 15px;
    margin-top: 40%;
  }
/*Text over trashcan*/
  .remove{
    height: 10px;
    width: 10px;
    margin-top: 40%;
    display: flex;
    border: none;
    background-color: transparent;
    color:gray;
    font-size: 10px;
  }
  .remove:hover{
    
    color:blue;
  }
  
.arrowdown{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: none;

}
.arrowdown>p{
  margin-top: 100px;
  color:gray;
  display: none;
}
/*the div around the whole name and adress inputs*/
.name-and-adress{
    /* width:100%; */
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
    /* background-color: #251c1c; */
}

/* #nameAndAdress{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
} */

#checkout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 16px;
}

.input-container-checkout {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.input-container-checkout input {
    border: 0.5px solid black;
    padding: 10px;
}

#city-and-postnumber-checkout {
    display: flex;
    justify-content: space-between;
}

/*the div inside "adresse og navn" with two input-f*/
#two-input{
width: 100%;
background-color: blue;
display: flex;
flex-direction: row;
justify-content: space-between;

}
/*The two input "adresse" and "by"*/
#two-input>div>input{
  
  width: 35vw;
}
/**/
.input-container{
  height: 25px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  border: #523D3E 1px solid;

}
#nameAndAdress>p, #kortopslysninger p, #nameAndAdress div>p, .container p {
 
  font-family: "Archivo", "sans serif";
    font-weight: 800;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
}
/*Two inputboxes in the center*/

.titel-checkout{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-size: 20px;
  color:#706B5C;
}

.checkout>h2{
margin-top: 10px;
margin-bottom: 5px;
}
.leveringsmetode {
  margin: 20px;
}

.kortopslysninger{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}



#payment-options{
  width: 250px;
  height: 150px;
}









@media  (min-width: 700px) {
 
  .navroshni > ul{
    display: flex;
    flex-direction: row;

  }

  #items{
    margin-top: 10vh;
    background-color: white;
    display: inline-grid; 
    justify-content: center;
    grid-template-columns:50% 50%; 
    grid-template-rows: 300px; 
    column-gap: 32px;
    row-gap: 32px;
  }

  /* #itemstwo{
    margin-top: 10vh;
    background-color: white;
    display: inline-grid; 
    justify-content: left;
    grid-template-columns:50% 50%; 
    grid-template-rows: 300px; 
    column-gap: 32px;
    row-gap: 32px;
    width: 532px;
    height: 300px;
   
  }
  #itemstwo >img:first-child{
    height: 100px;
    width: 100px;
  } */

  .inspiration-background{
    width: 100%;
    height: 600px;
  }
  .visa{
    width: 110px;
    height: 23px;
  }
  .mobilepay{
    width: 30.87px;
    height: 35.99px;
    margin-left: 10px;
  }
.flagdiv{
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 10px;
  margin-right: 50%;
  
}
}

@media  (min-width: 900px){

  #items{
    margin-top: 10vh;
    background-color: white;
    display: inline-grid; 
    justify-content: center;
    grid-template-columns: 33% 33% 33%; 
    grid-template-rows: 300px; 
    column-gap: 32px;
    row-gap: 32px;
  }

  footer{
    height: 200px;
    background-color: black;
  }

  footer p{
    font-size: 12px; 
  }

  .two-rows{
    width: 100%;
  }

  .product-information{
    width: 30%;
    margin-bottom: 32px;
  }
  
  .picture-slider{
    width: 60%;
  }
  .picture-slider{
    width: 60%;
  }
 #two-input > {
  background-color: red;
 }



}